@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600|Poppins:200,400,600&display=swap');

html {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    font-family: 'Poppins';
}

*, *::before, *::after {
    box-sizing: inherit;
}